// Main less file for your application.
// Use `@import` to use other less files
// relative to 'app/css' or 'vendor/css'.
@blue: #17B6FF;
@magenta: #FF17B6;
@lime: #B6FF17;
@green: #1BFF17;

body {
    background: @green;
    color: black;
}

h1{
  text-decoration: underline;
}

th{
  border: 1px solid black;
  padding: 5px;
  font-size: 25px;
  font-style: bold;
}
td{
  border : 1px solid black;
  padding: 2px;
}
tr{
  border : 1px solid black;
  padding: 2px;
}
