<div class="container-fluid">
    <div class="row">
        <h1>Music ATM:</h1>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div class="col-xs-12">
                <form id="addMusic">
                    <label>Group :</label>
                    <input type="text" ng-model="group">
                    <label>Title :</label>
                    <input type="text" ng-model="title">
                    <button type="submit" ng-click="add()">Add</button>
                </form>
            </div>
            <div class="col-xs-12">
                <table>
                    <th>Group</th>
                    <th>Title</th>
                    <th>Options</th>
                    <tbody>
                        <tr ng-repeat="line in tab | filter:group | filter: title  | orderBy : 'group':0 track by $index">
                            <td>{{line.group}}</td>
                            <td>{{line.title}}</td>
                            <td>
                                <button type="button" ng-click="editLine($index)">Edit </button>
                                <ng-show ng-show="editMe[$index]">
                                    <input type="text" ng-model="newGroup">
                                    <input type="text" ng-model="newTitle">
                                    <button type="button" ng-click="editDone($index, line._id, {group:newGroup, title:newTitle})">Validate Edit</button>
                                </ng-show>
                                <button type="button" ng-click="deleteLine($index, line)"> Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="row">
                <div class="col-xs-6">
                    <h3>Random music?</h3>
                    <button type="button" ng-click="randomMusic()">Gimme a Music plz !</button> {{randomGroup}} - {{randomTitle}}
                </div>
            </div>
            <div class="row">
                <div id="commentSection" class="col-xs-6">
                    <h3>Comment Section</h3>
                    <form>
                        <textarea type="text" rows="7" cols="69" ng-model="comment"></textarea>
                        <button type="submit" ng-click="addComment()">Add Comment</button>
                    </form>
                    <ul ng-repeat="comment in comments | orderBy : 'date':1 track by $index">
                        <!-- | orderBy : 'date':1 -->
                        <button class="btn btn-primary btn-sm" ng-click="like(comment._id, user.email)">Like</button>{{nblike}}
                        <textarea rows="2" cols="50" readonly="readonly">{{comment.comment}}</textarea>
                        <em id="commentDetails">posted by {{comment.userPseudo}} the {{comment.date | date : 'MMM d, y h:mm:ss a'}}</em>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
